; [submodule "pages/enterprise"]
; 	path = pages/enterprise
; 	url = git@github.com:rootcodelabs/Skapp-enterprise-FE-pages.git
; [submodule "src/enterprise"]
; 	path = src/enterprise
; 	url = git@github.com:rootcodelabs/Skapp-enterprise-FE.git
