;   frontend
[submodule "fe src"]
	path = frontend/src/enterprise
	url = https://github.com/rootcodelabs/skapp-ep-fe-src.git
[submodule "frontend/pages/enterprise"]
	path = frontend/pages/enterprise
	url = https://github.com/rootcodelabs/skapp-ep-fe-pages.git
[submodule "frontend/pages/api/enterprise"]
	path = frontend/pages/api/enterprise
	url = https://github.com/rootcodelabs/skapp-ep-fe-routes
; 	backend
[submodule "backend/src/main/java/com/skapp/enterprise"]
	path = backend/src/main/java/com/skapp/enterprise
	url = https://github.com/rootcodelabs/skapp-ep-be-src.git
[submodule "backend/src/main/resources/enterprise"]
	path = backend/src/main/resources/enterprise
	url = https://github.com/rootcodelabs/skapp-ep-be-resources.git
[submodule "backend/src/test/java/com/skapp/enterprise"]
	path = backend/src/test/java/com/skapp/enterprise
	url = https://github.com/rootcodelabs/skapp-ep-be-tests.git
[submodule "backend/src/main/resources/config"]
	path = backend/src/main/resources/config
	url = https://github.com/rootcodelabs/skapp-ep-be-resources-config.git
